/* reset */
* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

/* font */
html {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/* float */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 80%;
    margin: 15px auto;
}

.model-line {
    background-color: burlywood;
}

.model{
    float: left;
    width: calc(100% / 3 - 10px);
    margin: 5px 5px 3.5em;
}

.model-img {
    position: relative;
}

.model-img-2 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.model-img:hover .model-img-2 {
    display: inline-block;
}

.model-txt {
    margin-top: 5px;
}

.model-title {
    text-transform: uppercase;
    font-weight: bold;
}

.model-disc-price {
    font-weight: bold;
    color: red;
    display: inline-block;
}

.model-full-price {
    display: inline-block;
    text-decoration: line-through;
}